html{
    margin: 0;
    padding: 5px;
    background-image:url('images/background.gif')
}
#mainHeader{
    font-family: 'Rubik Vinyl', cursive;
    font-size: 50px;
    text-align: center;
    color: #ff1717;
}
body{
    margin:8px;
    display: block;
    background-color:#636363;
}

ul{
    list-style-type: square;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
    color:#e4a0f7;
}
h2{
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    font-size: 30px;
    color: #fc8eac;
}
h1{
    color: #73c2fb;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    font-size:20px;
}
p{
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: #ff9f00;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
p> img{
    width: 400px;
}
.funParagraph{
    color: #1cc727;
}
#testP{
    color:#1cc727;
}
footer{
    background-color:#00ffff;
}